/*CSS contenedor */

/* 010 */
.container {
  /* Borde para separar con el fondo */
  border: 0.5rem solid black;
  /* Contraste de fondo de la aplicación */
  background-color: #FABA8F;
}

/* CSS para la cabecera */

/* 001 */
.headerContainer {
  /* Colocación de los elementos */
  display: flex;
  justify-content: space-between;
  /* Margen interno superior */
  padding-top: 1rem;
}

/* 011 */
.headerContainer h2 {
  /* Margen exterior izquierdo */
  margin-left: 1rem;
  /* Peso de la letra */
  font-weight: bold;
}

/* 010 */
.mat-mdc-icon-button {
  /* Sobreescribir el radio de los botones */
  border-radius: 10%;
}

/* 001 */
button {
  /* Color de los botones*/
  color: white;
}

/* 011 */
.headerContainer button {
  /* Ajustar margenes entre los botones */
  margin-right: 1rem;
}

/* 010 */
.isSelected {
  /* Cambio del color si el botón ha sido seleccionado */
  background-color: black;
  color: white;
}

/* CSS para las tablas */

/* 001 */
table, td, th {
  /* Eliminar bordes y dejar espacio */
  border: none;
  border-collapse: separate;
  border-spacing: 1rem;
}

/* 001 */
table {
  /* Color de fondo */
  background-color: #FABA8F;
}

/* 001 */
td, th {
  /* Borde redondeado */
  border-radius: 1rem;
  /* Ajustes de letra */
  font-size: 1.5rem;
}

/* 010 */
.mat-column-id, .mat-column-name {
  /* Alinear texto */
  text-align: center;
}

/* 010 */
.mat-mdc-header-row, .mat-column-id {
  /* Contraste de color en la tabla */
  background-color: black;
  color: white;
}

/* 010 */
.mat-column-id {
  /* Ancho del identificador */
  width: 4rem;
}

/* 010 */
.mat-column-name {
  /* Colores */
  background-color: white;
}

/* 020 */
.mat-column-name:hover {
  /* Para marcar el elemento al pasar el ratón/dedo por encima */
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.5);
}

/* 020*/
.nameHeaderColumn:hover {
  /* Para que la fila 'Name' no se subraye al seleccionarse*/
  box-shadow: none;
}

/* CSS para las cards */

/* 010 */
.cardContainer {
  /* Colocacion de los elementos flex */
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around; 
}

/* 010 */
.card {
  /* Ancho y márgenes de las cards */
  width: 30%;
  margin-top: 1rem;
  margin-bottom: 1rem;
}

mat-card {
  /* Bordes redondeados */
  /* Se ajusta aquí para que no salgan espacios en blanco */
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}
/* 001 */
mat-card-header {
  /* Centrar el contenido */
  justify-content: center;
  padding-bottom: 1rem;
  
  /* Bordes redondeados */
  border-top-left-radius: 1rem;
  border-top-right-radius: 1rem;
}

/* 001 */
mat-card-header, mat-card-subtitle {
  /* Contraste de color de fondo */
  background-color: black;
  color: white;
}

/* 020 */
.card:hover {
  /* Sombreado de las cards */
  box-shadow: 0 1rem 2rem 0 rgba(0, 0, 0, 0.5);
}

/* 001 */
img {
  /* Centrar la imagen y reducir su ancho */
  display: block;
  margin: auto;
  width: 30%;
}