/*CSS contenedor */

/* 010 */
.container {
  /* Borde para separar con el fondo */
  border: 0.5rem solid black;
  /* Contraste de fondo de la aplicación */
  background-color: #FABA8F;
}

/* CSS para la cabecera */

/* 001 */
.headerContainer {
  /* Colocación de los elementos */
  display: flex;
  justify-content: space-between;
  /* Margen interno superior */
  padding-top: 1rem;
}

/* 011 */
.headerContainer h2 {
  /* Margen exterior izquierdo */
  margin-left: 1rem;
  /* Peso de la letra */
  font-weight: bold;
}

/* 010 */
.mat-mdc-icon-button {
  /* Sobreescribir el radio de los botones */
  border-radius: 10%;
}

/* 001 */
button {
  /* Color de los botones*/
  color: white;
}

/* 011 */
.headerContainer button {
  /* Ajustar margenes entre los botones */
  margin-right: 1rem;
}

/* 010 */
.isSelected {
  /* Cambio del color si el botón ha sido seleccionado */
  background-color: black;
  color: white;
}