/*CSS contenedor */

/* 010 */
.container {
  /* Borde para separar con el fondo */
  border: 0.5rem solid black;
  /* Contraste de fondo de la aplicación */
  background-color: #FABA8F;
}

/* CSS para la cabecera */

/* 001 */
.headerContainer {
  /* Colocación de los elementos */
  display: flex;
  justify-content: space-between;
  /* Margen interno superior */
  padding-top: 1rem;
}

/* 011 */
.headerContainer h2 {
  /* Margen exterior izquierdo */
  margin-left: 1rem;
  /* Peso de la letra */
  font-weight: bold;
}

/* CSS para gestión de botones */

/* 010 */
.buttonDetailContainer {
  /* Centrar el botón 'Show all details' */
  display: flex;
  justify-content: center;
  /* Margen externo inferior */
  margin-bottom: 1rem;
}

/* 010 */
.mat-mdc-button {
  /* Modificación del color del botón de Angular material */
  background-color: black;
  --mat-button-text-label-text-color: white;
  /* Ajustes del borde para que quede menos 'redondeado' */
  border-radius: 20%;
}

/* 011 */
button:hover {
  /* Cambio de color para indicar al usuario que tiene seleccionado el botón */
  color: black;
  background-color: lightgrey;
}

/* CSS para los tabs */

/* 010 */
.detail-tabs {
  /* Modificar el color por defecto para que no sea azul */
  --mat-tab-active-indicator-color:black;
}

/* 010 */
.separator {
  /* Separador del contenido con los tabs de arriba*/
  margin-top: 2rem;
}

/* CSS para gestionar el expansion panel */

.mat-expansion-panel {
  /* Igualar el color de fondo */
  background-color: #FABA8F;
  /* Margen externo inferior*/
  margin-bottom: 1rem;
  /*Borde para diferenciarlo del fondo */
  border: 0.1rem solid black;
}


/* Otros elementos CSS a gestionar */

/* 001 */
p {
  /* Facilitar la lectura del texto */
  font-size: 1rem;
  line-height: 1.5rem; 
  margin-left: 1rem;
}

/* 001 */
img {
  /* Centrar la imagen y disminuir su espacio */
  display: block;
  width: 30%;
  margin: auto;
}